<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GEMINI_API_KEY</key>
	<string></string>
	<key>PUFFER_SEPOLIA_VAULT</key>
	<string>0xe1eB8c077Ffe56dCB74EF7ad9246ea37a99472f4</string>
	<key>SEPOLIA_SWAP_DEMO</key>
	<string></string>
	<key>ETHERSCAN_API_KEY</key>
	<string></string>
	<key>OPENWEATHER_API_KEY</key>
	<string></string>
	<key>BITREFILL_API_KEY</key>
	<string></string>
</dict>
</plist>
